h1{
    color: violet;
}
*{
    border:solid;
}
.header{
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}


.grid img{
   border:2px solid black;
   border-radius: 50px;
}
.origami{
    border-radius: 20px;
    background-color: white;

    width:310px;
    font-family: fantasy;
}
p,h2{
    text-align: center;
}
